

<section class="items-phone">
      <div class="row">
	  					<div class="col-md-4">
				  <div class="item clearfix">
					<div class="container-fluid">
					  <div class="row">
						<div class="col-md-7">
						  <div class="h4"><strong>Sell iPhone</strong></div>
						  <p>Sell Apple iPhone XR</p>
						  <div class="item-capacity">
							<ul>
							  <a href="sell-my-iphone/sell-apple-iphone-xr/89/64GB"><li class="btn">64GB</li></a><a href="sell-my-iphone/sell-apple-iphone-xr/89/128GB"><li class="btn">128GB</li></a><a href="sell-my-iphone/sell-apple-iphone-xr/89/256GB"><li class="btn">256GB</li></a>							</ul>
						  </div>
						</div>
						
												<div class="col-md-5">
						  <div class="item-image">
							<img src="https://demo.sellyourphonetoday.com/libraries/phpthumb.php?imglocation=https://demo.sellyourphonetoday.com/images/mobile/20181017085204.png&h=144" alt="Sell Apple iPhone XR">
						  </div>
						</div>