<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <section>
        <button class="button" ><span>Sale Your </span></button>
        <button class="button" style="vertical-align:middle"><span>iPhone </span></button>
        <button class="button" style="vertical-align:middle"><span>Android </span></button>
        <button class="button" style="vertical-align:middle"><span>MacBook</span></button>
        <button class="button" style="vertical-align:middle"><span>Electronics </span></button>
        <button class="button" style="vertical-align:middle"><span>Camera </span></button>
      </section>

  </body>

  <section>

    <div id="picture" class="row">
      <img src="image/main/1.png" alt="">
      <img src="image/main/2.png" alt="">
      <img src="image/main/3.png" alt="">
      <img src="image/main/4.png" alt="">
      <img src="image/main/5.png" alt="">
      <img src="image/main/6.png" alt="">
    </div>

  </section>
  <section>

  </section>
</html>
